<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KU-Politics</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mapDisplay" Match="NavLinkMatch.All">
                <span class="oi oi-map" aria-hidden="true"></span> Map Display
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AssetList">
                <span class="oi oi-list" aria-hidden="true"></span> Asset List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PlayerPage">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Player Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BankPage">
                <span class="oi oi-dollar" aria-hidden="true"></span> Bank Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StorePage">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Store Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SystemViewer">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> System Viewer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OperationPage">
                <span class="oi oi-bolt" aria-hidden="true"></span> Launch Opertion
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MilitaryPage">
                <span class="oi oi-target" aria-hidden="true"></span> Military Stuff
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Trade">
                <span class="oi oi-transfer" aria-hidden="true"></span> Trade
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AdminPage">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Admin Page
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}