@page "/AdminPage"
@using KnownUniversePoliticsGameWebApp.Data
@inject KnownUniversePoliticsGameService _politicsGameService
@inject KUPEventService _eventService;
<style>
    #AssetsToLookAt {height:200px; width:50%;
    overflow:hidden; overflow-y:scroll; overflow-x: scroll
    }
</style>
<PageTitle>Admin Page</PageTitle>
<h3>Admin Console</h3>

@code {

    private async Task SetupGame()
    {
        if (!_politicsGameService.HasBeenInited)
        {
           await _politicsGameService.Init();
            await _eventService.Init();
        }
    }

    private void RefreshMap()
    {
        _politicsGameService.MapRefresh();
    }

    private void EndOfTurn()
    {
        _politicsGameService.EndOfTurn();
    }

}
<div>
    @if (!_politicsGameService.HasBeenInited)
    {
        <button @onclick="SetupGame" type="button">Click me to Init the Game!</button>
    }
    else
    {
        <button @onclick="RefreshMap" type="button">Click me to refresh the map!</button>
    }
</div>
@if (_politicsGameService.HasBeenInited)
{
    <button @onclick="EndOfTurn">End of Turn!</button>
 
    <AdminEventsView></AdminEventsView>
    <AdminFactionList></AdminFactionList>
    <AdminAssetList></AdminAssetList>
    
    <AdminTransferFactionAsset></AdminTransferFactionAsset>
    <AdminGiveFactionShip></AdminGiveFactionShip>
    <AdminAssignPlayerToFaction></AdminAssignPlayerToFaction>
    <AdminCreateFaction></AdminCreateFaction>
}