@using KnownUniversePoliticsGameWebApp.Data
<h3>AdminFactionList</h3>
@inject KnownUniversePoliticsGameService _politicsGameService
@code {
    
}


<div>
    <details>
        <summary>
            <h4>List of Factions</h4></summary>
        @foreach (var faction in _politicsGameService.PoliticsGame.Factions)
            {
                <details>
                    <summary>@faction</summary>
                    <details>
                        <summary>Military Info</summary>
                        (@faction.CombatAssets.Aggregate("", (h, t) => h + t.Name + ", "))
                    </details>
                    <details>
                        <summary>Location Assets</summary>
                        (@faction.LocationAssets.Aggregate("", (h, t) => h + t.Name + ", "))
                    </details>
                </details>
            }
    </details>
</div>