@using KnownUniversePoliticsGameWebApp.Data
@using KnownUniversePoliticsGameWebApp.Pages.Bank_Pages
@inject KnownUniversePoliticsGameService PoliticsGameService
@inject KUPEventService EventService;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager
<h3>Bank Stuff</h3>

@code {

    [Parameter] public KUPPlayer player { get; set; }
    enum BankActions
    {
        TransferBetweenPersonalAndFaction,
        WithdrawFromPersonnel,
        TransferBetweenFactions
    }

    BankActions actionChoice = BankActions.TransferBetweenPersonalAndFaction;
}

@if (player != null)
{
    <h5>Your Funds: @player.Faction.Money</h5>
    <WithdrawMoneyFromPersonnelAccount player="player"></WithdrawMoneyFromPersonnelAccount>
}