@page "/TransferComplete/{Amount}/{FactionName}/"
@inject NavigationManager NavigationManager
<h3>TransferComplete</h3>

@code {
    [Parameter] public string Amount { get; set; }

    [Parameter]
    public string FactionName { get; set; } = "";

    bool clicked = false;

    private void BackToBand()
    { NavigationManager.NavigateTo("/BankPage", false);

    }

}
<p>Your transfer of $@Amount to @FactionName has been sent in.</p>
<button @onclick="BackToBand">Return to Bank</button>