@using KnownUniversePoliticsGameWebApp.Data
@inject KnownUniversePoliticsGameService PoliticsGameService
@inject KUPEventService EventService;
@inject NavigationManager NavigationManager
<h3>WithdrawMoneyFromPersonnelAccount</h3>

@code {
    [Parameter] public KUPPlayer player { get; set; }
    int withdrawAmount = 0;
    
    private void PlayerWithdrawFRomBank()
    {
        if (player.Faction.Money >= withdrawAmount)
        {
    //Refer to PoliticsGame.cs for info on why this is the bank ID
            var bankID = PoliticsGameService.GetFaction("Bank").ReceiverID;
            EventService.AddEvent(
                new KUPMoneyWithdrawEvent(player.Faction.SenderID, bankID, withdrawAmount));
            NavigationManager.NavigateTo($"TransferComplete/{withdrawAmount}/Bank");
        }
    }
    
    private void ResetWithdraw()
    {
        withdrawAmount = 0;
    }
}


<div>
    <form>
        <h3>Withdraw Money from Faction</h3>
        <label for="withdrawAmount">Amount to Withdraw:</label>
        <input type="number" id="withdrawAmount" @bind="withdrawAmount"/>
        <button class="btn btn-primary" @onclick="PlayerWithdrawFRomBank">Withdraw from Bank</button>
        <button class="btn btn-primary" @onclick="ResetWithdraw">Reset Withdraw Amount</button>
    </form>
</div>