@page "/failedToTrade"
@using KnownUniversePoliticsGameWebApp.Data
@using System.Diagnostics.Eventing.Reader
@inject KnownUniversePoliticsGameService PoliticsGameService
@inject KUPEventService EventService;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager
<h3>Trade Failed</h3>

@code {
    private void AnotherTransfer()
    {
        NavigationManager.NavigateTo("PlayerPage");
    }


}
<p>Transfer failed to complete.</p>
<button @onclick="AnotherTransfer">Click me to return to the player page</button>
   