@page "/mapDisplay"
@using KnownUniversePoliticsGameWebApp.Data
@using SixLabors.ImageSharp
@inject KnownUniversePoliticsGameService PoliticsGameService

@{
}

<!DOCTYPE html>

<html>
<head>
    <PageTitle>Map Display</PageTitle>
</head>
<body>
<div>
    @if (PoliticsGameService.PoliticsGame != null
        && PoliticsGameService.HasBeenInited)
    {
        <img src="data:image/png;base64, @PoliticsGameService.GetFullMapBase64().Result"/>
    }
</div>
</body>
</html>