@page "/"
@using KnownUniversePoliticsGameWebApp.Data
@using KnownUniversePoliticsGameWebApp.Pages.Map_Pages
@using KnownUniversePoliticsGameWebApp.Pages.Store_Pages
@using KnownUniversePoliticsGameWebApp.Pages.Military_Pages
@using KnownUniversePoliticsGameWebApp.Pages.Trade
@using KnownUniversePoliticsGameWebApp.Pages.Basic_Player_Pages
<PageTitle>Politics Game</PageTitle>
<div>
    <h4>Lore Background</h4>
    <p>The Ancient Empire which has ruled the Edyonda sector for nearly one thousand years has fractured following the
        death of the old ruler Marcus Tullius Caesar, who left no clear heir. The once docile puppet states are 
        preparing for war with one another. Malik the Marico has proclaimed his own adoption of Marcus Tullius Caesar 
        as his father. In doing so, he has proclaimed himself heir of the Old Empire, and has taken his late, new, fathers cognomen: Casesar, as his title. 
    </p>
    <p>
        Edyonda is now on the bink of war. A Monarch has proclaimed himself the new ruler of the sector; rivaled by the 
        self-proclimed Princess of Edyonda. However their proclamation incited many to revolt, forming their own anti-state,
        capitalist paradise. The Federation's half-supported puppet state now looms large in the Sector.
        Meanwhile, a new Empire has sprug from the ruins of the old, led by Emperor Logan. The old Church of Sigmar, whom
        had wormed their way with the old Empire now seeks to grow its own power. Meanwhile, the Xiao-Ming branch office,
        who supplied the old Empire, equally hopes to grow. Many regions of the sector remain presently unaligned,
        the rest either having fallen pray to, or have been the home of, pirates.
    </p>
    <p>A new state must rise; "States make war, and war makes states" - Charles Tilly. Let there be war, for only through war shall peace be found.</p>
</div>
<PlayerPage></PlayerPage>